*.pyc
test.py
research
files-hp
files
N_EXT610_BTL
oldlib.py
*.iso
todo
testex.py
msns.csv
bosstable.csv
.ipynb_checkpoints
research.ipynb
*/workspace/*
workspace
log
Quickly Edit Enemy AI - COPY
tempard
tempbattle